$primaryColor: #276678; 
$secondaryColor: #A3C9A8;
$accentColor: #FF6F61;
$greyColor: #E1E5E4;

$defaultFont:'Spline Sans', sans-serif;
$lightWeight: 300;
$normalWeight: 500;
$leading: 150%;

$gutter: 16px;